
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h3><b>Hak İhlali.</b></h3>

                <h6>
                    Tanıtım amaçlı,sunulan Tüm içerikler sitemiz, 5651 sayılı yasada belirlenen bir yer sağlayıcısıdır. İlgili yasaya göre; sitemizin yönetiminin hukuka aykırı içerikleri kontrol etme yükümlülüğü bulunmuyor. Bu amaçla sitemizde uyar ve içeriği kaldır prensibini benimsenmiştir.<br /><br />

                    indirme sitemiz; hukuka, telif haklarına ve kişilik haklarına, yasalara saygılı olmayı ilke edinmiş ve her zaman bu yönde hizmetlerini sürdürmeye devam ediyor. Sitemiz, 5651 sayılı kanunun 2. Maddesi kapsamında, Bilgi  bir yer sağlayıcı olarak hizmet veriyor.<br /><br />

                    5651 sayılı kanun kapsamında;<br /><br />

                    Telif hakkına ait konularda yasal olmadığı düşünülen bir şekilde içeriklerin paylaşıldığını, yasal hakların çiğnendiğini düşünen hak sahipleri ya da aynı mesleği icra eden meslek birlikleri varsa, <b>beyazsancakefsanesi@gmail.com</b> EMail adresimizden yönetimimize ulaşabilir.<br /><br />

                    Bize ulaşan tüm talep, şikayet ve görüşler büyük bir titizle incelenir ve yapılan şikayetin doğru olduğu kanaatine varılırsa, hak ihlali olduğu belirlenen içerikler, ivedi şekilde sitemizden kaldırılır.<br /><br />

                    Dikkat! 5651 sayılı kanun; özel hayatın gizliliği açısından çeşitli düzenlemeler getirmiştir. İnternet üzerinde herhangi bir içerik sebebiyle, haklarının ihlal edildiğini düşünen kişiler, içeriğin yayından kaldırılmasını talep edebiliyor. Kişilik haklarının ihlali durumu söz konusu olduğunda, ilgili kişiler yer sağlayıcısına başvuru yaparak hak ihlali bildirimi yapıyor.<br /><br />

                    <b>NOT:</b> Tüm İçerikler Tanıtım Amaçlıdır, Yasal Satın Almanız Önerilir.<br /><br />

                    <b>Telif Hakkı İçin E-Mail Adresimiz: beyazsancakefsanesi@gmail.com</b><br /><br />
                </h6>
            </div>
        </div>
    </div>
</section>
